.greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(30, 75, 255);
    text-align: center;
}

.go-keyword {
    color: rgb(210, 210, 210);
}

.go-keyword p {
    font-size: 1.1rem;
    font-weight: 600;
}

.select-region {
    width: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 13rem;   
}

.selected-region {
    position: absolute;
    top: 145rem;
}

.select-user-wrapper {
    width: 100vw;
    height: 100vh;
}

.select-user {
    text-align: center;
    width: 100vw;
    max-width: 1024px;
    margin: auto;
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.link-title {
    font-size: 1.4rem;
}

/* 임시 설정 */
.region-info {
    width: 100%;
    height: 300px;
}

.select-keyword-btn-div {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 70px;
    position: relative;
}

.keyword-btn-div {
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

/* 키워드 검색창 */
.search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top : 0rem;
}

.search-bar-container {
    background-color: white;
    width: 45rem;
    height: 3.5rem;
    border-radius: 2rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    margin-left: 5px;
}

.search-bar:focus {
    outline: none;
}

#search-icon {
    color: royalblue;   
}

.search-results-list {
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

.search-result {
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #efefef;
}


/* recommand section */
.recommand-title {
    padding: 3rem;
    font-size: 1.3rem;
}

.slider-style {
    padding-top: 1rem;
    height: 600px;
    color: black;
    /* text-align: center;   */
    background-color: white;
    display: flex;
    justify-content: center;
};

.place-info {
    height: 100%;
}

.place-image {
    /* width: 50%; */
    height: 100%;
}

.place-title {
    font-size: 2rem;
    font-weight: 600;
}

.place-address {
    color: rgb(158, 158, 158);
}

.place-overview {
    font-size: 1rem;
}

/* 여행지 더보기 */
.go-more-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.go-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    background-color: rgb(72, 164, 255);
    color: white;
}

.recommand-wrapper { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    cursor: pointer;
    /* padding-right: 2rem;     */
}

/* 지역 선택  */
.next-btn-div {
    padding: 5rem;
}


/* 슬라이더 */
.container {
    margin: 0 auto;
}
.slider-wrapper {
    display: flex;
    justify-content: space-between;
}

.rec-info {
    width: 50%;
    text-align: left;
}

.rec-image {
    width: 45%;
    padding-bottom: 3rem;
}

.rec-image img {
    border-radius: 0.5rem;
}

.rec-title {
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 2.5rem;

}


.rec-address {
    color: rgb(48, 151, 255);
    font-size: 1.1rem;
    padding-bottom: 0.6rem;
}

.rec-overview {
    font-size: 1.1rem;
    text-align: left;
    color: rgb(70, 70, 70);
}

.carousel .thumb {
    width: 5%;
    height: 50px;
}