.greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(30, 75, 255);
    text-align: center;
}

.go-keyword {
    color: rgb(210, 210, 210);
}

.go-keyword p {
    font-size: 1.1rem;
    font-weight: 600;
}

.select-region {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 13rem;   
    z-index: -1;
}

.selected-region {
    position: absolute;
    top: 145rem;
}

.select-user-wrapper {
    width: 100vw;
    height: 100vh;
}

.select-user {
    text-align: center;
    width: 100vw;
    max-width: 1024px;
    margin: auto;
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.link-title {
    font-size: 1.4rem;
}

/* 임시 설정 */
.region-info {
    width: 100%;
    height: 300px;
}

.select-keyword-btn-div {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 70px;
    position: relative;
}

.keyword-btn-div {
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

/* 키워드 검색창 */
.search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top : 0rem;
}

.search-bar-container {
    background-color: white;
    width: 45rem;
    height: 3.5rem;
    border-radius: 2rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    margin-left: 5px;
}

.search-bar:focus {
    outline: none;
}

#search-icon {
    color: royalblue;   
}

.search-results-list {
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

.search-result {
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #efefef;
}


/* recommand section */
.recommand-title {
    padding: 3rem;
    font-size: 1.3rem;
}

.slider-style {
    padding-top: 1rem;
    height: 600px;
    color: black;
    /* text-align: center;   */
    background-color: white;
    display: flex;
    justify-content: center;
};

.place-info {
    height: 100%;
}

.place-image {
    /* width: 50%; */
    height: 100%;
}

.place-title {
    font-size: 2rem;
    font-weight: 600;
}

.place-address {
    color: rgb(158, 158, 158);
}

.place-overview {
    font-size: 1rem;
}

/* 여행지 더보기 */
.go-more-section {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.go-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    background-color: rgb(72, 164, 255);
    color: white;
}

.recommand-wrapper { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    
    /* padding-right: 2rem;     */
}

/* 지역 선택  */
.next-btn-div {
    position: inherit;
    padding: 5rem;
}


/* 슬라이더 */
.container {
    margin: 0 auto;
}
.slider-wrapper {
    display: flex;
    justify-content: space-between;
}

.rec-info {
    width: 50%;
    text-align: left;
}

.rec-image {
    width: 45%;
    padding-bottom: 3rem;
}

.rec-image img {
    border-radius: 0.5rem;
}

.rec-title {
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 2.5rem;

}


.rec-address {
    color: rgb(48, 151, 255);
    font-size: 1.1rem;
    padding-bottom: 0.6rem;
}

.rec-overview {
    font-size: 1.1rem;
    text-align: left;
    color: rgb(70, 70, 70);
}

/* .carousel .thumb {
    width: 5%;
    height: 50px;
} */

/* 3d slider */

/* body {
  font-size: 1.6rem;
  background: var(--bg);
} */

.container {
  max-width: 85rem;
  padding: 0rem 0rem;
  margin: 0 auto;
}

.swiper_container {
  height: 33rem;
  padding: 1rem 0;
  position: relative;
}

.swiper-slide {
  padding-left: 1.8rem;
  width: 37rem;
  height: 40rem;
  position: relative;
}


.swiper-slide img {
  width: 25rem;
  height: 30rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controller {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controller .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controller .slider-arrow {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-40%);
}

.slider-controller .slider-arrow ion-icon {
  font-size: 3rem;
  color: rgb(112, 112, 112);
}

.slider-controller .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(136, 136, 136, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: dodgerblue;
}

/* 슬라이드 inner */
.img-wrapper {
    position: relative;
    color: rgb(93, 93, 93);
}

.img-info-section {
    position: absolute;
    background-color: rgb(250, 250, 250);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 400px;
    height: 15%;
    bottom: 0.3rem;
}

.img-wrapper p.title {
    left: 2rem;
    top: 0.7rem;
    font-size: 1.35rem;
}

.img-wrapper p.address {
    position: absolute;    
    left: 2rem;
    top: 2.5rem;
    font-size: 0.95rem;
    color: rgb(154, 154, 154);
}

/* 모달창 */



.content-style {
height: 380px;
color: #fff;
line-height: 160px;
text-align: center;
margin: 0 auto;
}